.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
    background-color: rgba(241, 241, 243, 1);
    /* width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}


/* header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} */


.header-nav {

    display: flex;
    /* width: 1280px; */
    justify-content: space-between;
    margin: 24px 160px;
    align-items: center;
}

.header-title {
    font-size: 32px;
    font-weight: bold;
    color: #0e0e0e;
}


.header-nav .nav-button {
    height: 52px;
    width: 116px;
    padding: ;
    font-family: "fira Sans";
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border-color: #006A50;
    background-color: white;
}




.header-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1280px; */
    height: 560px;
    margin: 20px 160px 80px 160px;
    /* margin: auto; */
    background-color: #C6E4D6;
    border-radius: 24px;
    /* padding: 80px 60px; */
    gap: 60px;
}

.header-description {
    height: 326px;
    width: 622px;

    margin: 37px 64px 37px 60px;
}

.header-subtitle {
    font-size: 24px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.5);
    margin: 0px 0px 16px 0px;
}

.header-main-title {
    font-size: 56px;
    font-weight: 800;
    color: #0e0e0e;
    margin-bottom: 24px;
    margin-top: 24px;
}

.header-button {
    font-size: 18px;
    font-weight: 600px;
    color: white;
    border-radius: 8px;
    background-color: #006A50;
    border: none;
    padding: 17px 34px;
    font-family: "fira Sans";
}



section {
    margin-top: 80px;
    margin-bottom: 0px;
}









.pillars {
    /* width: 1280px; */
    height: 324px;
    padding: 20px 160px 80px 160px;
    margin: 0px 0px;
    /* background-color: aquamarine; */
}

.pillar-heading {
    font-size: 40px;
    font-weight: 800;
    color: #0e0e0e;
    margin-bottom: 32px;
}


.pillars-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

}

.pillar {
    width: 390px;
    height: 244px;
    padding-bottom: 24px;
    background-color: white;
    border-radius: 16px;
}

.pillar-icon {
    margin: 32px 0px 0px 32px;
}

.pillar-info {
    margin: 24px;
}

.pillar-subheading {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 800;

}

.pillar-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;

}








.vision-total {
    /* width: 1280px; */
    height: 765px;
    padding: 0px 160px 80px 160px;
    /* margin-left: auto; */
    /* background-color: aqua; */
}


.vision-info {
    /* height: 256px; */


}


.vision-heading {
    font-size: 40px;
    font-weight: 800;
    color: #0e0e0e;
}

.vision-desciption {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}


.vision-card-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}



.card-1 {
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
}

.card-2 {
    background-color: rgba(198, 228, 214, 1);
    padding: 32px;
    border-radius: 16px;
}

.card-3 {
    background-color: rgba(247, 235, 207, 1);
    padding: 32px;
    border-radius: 16px;
}

.vision-card-heading {
    font-size: 20px;
    font-weight: 800;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

.vision-card-description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}

.vision-card button {
    padding: 11px 20px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    font-family: "fira Sans";
}


.card-1 button {
    background-color: #5490F5;
}

.card-2 button {
    background-color: #09A15C;
}

.card-3 button {
    background-color: #FFC239;
}



.quote {
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 48px 24px;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 0px;
}

.quote-description {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 12px;
}

.quote-heading {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}

.quote-info {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: normal;
    margin-top: 4px;
}












.opinion {
    margin-top: 0px;
    height: 765px;
    padding: 0px 160px 40px 160px;
}

.opinion-title {
    font-size: 40px;
    font-weight: 800;
    color: #0e0e0e;
}

.opinion-holder {
    border-radius: 16px;
    padding: 32px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    color: #0e0e0e;
}

.option-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    padding: 24px;
}

.question-body {
    padding: 24px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    color: #0e0e0e;
    display: flex;
    justify-content: space-between;
    border: 1px solid #C6E4D6;
}

.question {
    width: 87%;
    margin-bottom: 0px;
    position: static;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px -1px;
    border-right: 2px solid #C6E4D6;
}

.answer {
    width: 13%;
    padding-left: 24px;
}

select {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    background-color: #C6E4D6;
    padding: 12px 2px 12px 16px;
    border-radius: 4px;
    border: 2px solid rgb(14, 14, 14);
}













.news {
    margin: 0px 160px 80px 160px;
}

.satellite {
    border-radius: 24px;
    margin-bottom: 40px;
}

.younus {
    height: 306px;
    width: 408px;
    border-radius: 24px;
    margin-bottom: 40px;
}

.money {
    height: 306px;
    width: 408px;
    border-radius: 24px;
    margin-bottom: 40px;
}

.news-holder {
    background-color: white;
    border-radius: 24px;
    padding: 48px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 32px;

}

.news-main {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 24px;
}

.time span {
    padding-right: 12px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.news-detail {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.news-title {
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}

.news-description {
    margin-top: 24px;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: normal;
}

.news-heading {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}

.news-button {
    padding: 13px 26px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: "fira Sans";
}












.donate {
    margin: 20px 160px 80px 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    gap: 32;

}


.donate-amount {
    gap: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.amount {
    padding: 40px;
    background-color: white;
    font-size: 40px;
    font-weight: 800;
    color: #0e0e0e;
    border-radius: 16px;
}



.donate-title {
    font-size: 40px;
    font-weight: 800;
    color: #0e0e0e;
}



.donate-description {
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
    margin: 0px 24px;
    width: 1280px;

}


.pre-selected {
    background-color: #C6E4D6;
}


.donate input[type="text"] {

    position: static;
    width: 1032px;
    height: 64px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 40px 20px 40px;

    flex: none;
    order: 2;
    box-sizing: border-box;
    border: none;
    background: rgb(255, 255, 255);
    text-align: center;
    /* color: rgba(14, 14, 14, 0.3); */
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 32px;
}













.newsletter {
    margin: 0px 160px 80px 160px;
    background-color: #C6E4D6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 395px;
    border-radius: 24px;
    gap: 16px;
}


.newsletter-email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



.newsletter-heading {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    /* gap: 16px; */
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}


.newsletter-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
}


.wrap {
    position: static;
    width: 750px;
    height: 235px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
    gap: 24;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 64px;
}



.newsletter input[type="email"] {
    padding: 18px 400px 18px 40px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    /* color: rgba(14, 14, 14, 0.3); */

}




.newsletter button {
    padding: 17px 40px 17px 40px;
    border-radius: 0px 8px 8px 0px;
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
}


.spam {
    text-align: center;
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}










.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

.footer-title {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.footer-img {
    display: flex;
    justify-content: center;
    gap: 23px;
    padding-top: 30px;
}

footer hr {
    width: 1120px;
    color: rgb(14, 14, 14);
    opacity: .1;
}












.nav-button:hover {
    color: rgb(2, 21, 17);
    border: 0px solid palegreen;
    transition: .2s;
    cursor: pointer;
    background-color: #09e883;
}


button:hover {
    color: rgb(2, 21, 17);
    border: 0px solid palegreen;
    box-shadow: 0 .5em .5em -.4em;
    transition: .2s;
    cursor: pointer;
    background-color: #09e883;
}



.amount:hover {
    border: 0px solid palegreen;
    transition: .2s;
    cursor: pointer;
    background-color: #87eebe;
}



::placeholder {
    opacity: .4;
}